<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{'/css/bootstrap.css'}">
    <script type="text/javascript" th:src="@{'/js/bootstrap.bundle.js'}"></script>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg nav" style="background-color:#000000">
        <div class="container-fluid">
            <a style="color: #a8002e" class="navbar-brand" th:href="@{'/'}">
                FLY ALMATY
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" style="color: #a8002e"  th:href="@{'/addClothing'}">Buy a ticket</a>
                    </li>
                    <li class="align-items-md-end" sec:authorize="isAnonymous()">
                        <a class="nav-link" style="color: #a8002e" th:href="@{'/login'}">Login</a>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                        <a style="color: #a8002e" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            PROFILE-LIST
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" th:href="${'/profile'}">PROFILE</a></li>
                            <li sec:authorize="hasAnyRole('ROLE_ADMIN')"><a class="dropdown-item"  th:href="@{'/addClothing'}">Buy a ticket</a></li>
                            <li sec:authorize="hasAnyRole('ROLE_ADMIN')"><a class="dropdown-item" th:href="${'/setting'}">SETTING</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="JavaScript:void(0)" onclick="document.getElementById('logoutForm').submit();">Logout</a></li>
                        </ul>
                        <form th:action="@{'/signout'}" method="post" id="logoutForm"></form>
                    </li>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </ul>
            </div>
        </div>
    </nav>
</div>
<br>
<div class="container mt-3" style="min-height: 600px;">
    <div class="row">
        <div class="col-12" layout:fragment="mainContent">
        </div>
    </div>
</div>
<div class="container-fluid mt-3 py-3  text-light" style="background-color: #000000; color: #85001d">
    <div class="row">
        <div class="col-12">
            <h5 class="text-center">© Copyright SHOPING</h5>
        </div>
    </div>
</div>
</body>
</html>