<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/main.html">
    <div layout:fragment="mainContent">
        <div class="container">
                <div class="col-6 mx-auto">
                    <h1 style="text-align: center">DETAILS PAGE</h1>
                    <form th:action="@{'/saveClothing'}" method="post" th:if = "${plane!=null}">
                        <input type="hidden" name="id"  th:value="${plane.id}">
                        <div class="row mt-2">
                            <div class="col-6">
                                <label>DIRECTION:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <select class="form-select" aria-label="Default select example"  name="dire_id">
                                    <option th:each="d : ${direction}"  th:text="${d.direction}" th:value="${d.id}" th:selected="${d.id == plane.direction}"></option>
                                </select>

                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-6">
                                <label>NUMBER:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <input type="text" class="form-control" name="number" th:value="${plane.number}">

                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <label>PLACE:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <input type="text" class="form-control" name="place" th:value="${plane.place}">

                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-6">
                                <label>PRICE:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <input type="number" class="form-control" name="price" th:value="${plane.price}">

                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <div class="row-2">
                                <button class="btn btn-success">SAVE</button>
                            </div>
                        </div>
                    </form>
                    <div class="row-2">
                        <form th:action="@{'/delete'}" method="post" th:if = "${plane!=null}">
                            <input type="hidden" name="id" th:value="${plane.id}">
                            <div class="form-group">
                                <div class="row-2">
                                    <button class="btn btn-danger">DELETE</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>